In [1]:
a=1
print(type(a))

<class 'int'>

In [4]:
password=input("请输入密码1")
print(password)
print('数字是：%d,密码是%s'%(a, password))

请输入密码1 11

11
数字是：1,密码是11

In [17]:
chepiao = 1
if chepiao == 1:
    print('有车票')
else:
    print('没有车票')

有车票

In [2]:
score = 70
if score >= 90 and score <= 100:
    print('考试等级A')
elif score >= 70 and score <80:
    print('考试等级B')
else:
    print('考试等级C')

考试等级B

In [22]:
a = [1,2,3,4]
print(a)
sum = 0
for i in a:
    sum += i
print(sum)

[1, 2, 3, 4]
10

In [27]:
for i in range(10):
    if i%4 == 1:
        continue
    print(i)

0
2
3
4
6
7
8

In [30]:
str = 'hello'
print(str[0])
print(str[-1])
print(len(str))

h
o
5

In [35]:
mystr = 'hello'
print(mystr[1:3])
print(mystr[:4])
print(mystr.find('hl'))

el
hell
-1

In [47]:
str = 'Hello'
print(str.upper())
print(str.lower())
print(str.startswith('He'))
print(str == 'Hello')
print('123'.isdigit())
print('a'.isalpha())
print('a1'.isalnum())

HELLO
hello
True
True
True
True
True

In [49]:
str = '12as'
for a in '12as':
    print(a)
for index,value in enumerate(str):
    print(index,value)

1
2
a
s
0 1
1 2
2 a
3 s

In [2]:
str = [1,1.2, 'abc', True]
print(str, type(str[0:3]))
print(len(str))

[1, 1.2, 'abc', True] <class 'list'>
4

In [10]:
my_list = []
my_list.append(3)
print(my_list)
print(my_list[0])
my_list.insert(0,'a')
print(my_list)
my_list1 = ['c', 'd', 'e']
my_list.extend(my_list1)
print(my_list)
my_list[0] = 'aaa'
print(my_list)
my_list1.remove('c')
print(my_list1)
del my_list1[0]
print(my_list1)
my_list1.clear()
for v in my_list:
    print(v)

[3]
3
['a', 3]
['a', 3, 'c', 'd', 'e']
['aaa', 3, 'c', 'd', 'e']
['d', 'e']
['e']
aaa
3
c
d
e

In [13]:
my_list = [33,44]
my_list1 = [55]
print(33 in my_list)
print(3 not in my_list)
my_list.append(my_list1)
print(my_list)

True
True
[33, 44, [55]]

In [1]:
#元组不能直接修改,del会报错。可以修改嵌套的
my_tuple = (1,2)
print(my_tuple, type(my_tuple))
print(my_tuple[1], type(my_tuple[0]))
my_tuple1 = (1,2, [3,4])
my_tuple1[2][0] = 22233
print(my_tuple1)
tuple2 = (33)
print(type(tuple2))
tuple3 = (33,)
print(type(tuple3))

(1, 2) <class 'tuple'>
2 <class 'int'>
(1, 2, [22233, 4])
<class 'int'>
<class 'tuple'>

In [3]:
a = 1
b = 2
print('{} {}'.format(a,b))
e = '22'
print(f'{e}')

1 2
22

In [16]:
data = [
    ["Alice", 25],
    ["Bob", 30],
    ["Charlie", 35]
]
# 输出数据
for row in data:
    # -10用来对齐
    print("Name: %-10s Age: %d" % (row[0], row[1]))
    print(f"{row[1]:.2f}")

Name: Alice      Age: 25
25.00
Name: Bob        Age: 30
30.00
Name: Charlie    Age: 35
35.00

In [5]:
def a():
    return (1,2,4)
    # return 1,2
x = a()
print(x, type(x))

(1, 2, 4) <class 'tuple'>